# Build artifacts
/build/
/bin/

# Ignore all directories inside cases/single, but keep files
cases/single/*/
cases/dataset/*/
cases/exp/*/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

cases/exp/A1_1.csv

cases/exp/A1_2.csv

scripts/plot.py

test_case_A1/cross_sections.png

*.png

*.h5

*.npy

*.pth

*.csv
